[submodule "external/sshash"]
	path = external/sshash
	url = https://github.com/jermp/sshash
[submodule "external/sketch"]
	path = external/sketch
	url = https://github.com/dnbaker/sketch
[submodule "external/ggcat"]
	path = external/ggcat
	url = https://github.com/algbio/ggcat
[submodule "external/smhasher"]
	path = external/smhasher
	url = https://github.com/aappleby/smhasher
[submodule "external/FQFeeder"]
	path = external/FQFeeder
	url = https://github.com/rob-p/FQFeeder
[submodule "external/kmeans"]
	path = external/kmeans
	url = https://github.com/jermp/kmeans
[submodule "external/s_indexes"]
	path = external/s_indexes
	url = https://github.com/Alessio-Campa/s_indexes 
