[submodule "external/sshash"]
	path = external/sshash
	url = https://github.com/jermp/sshash
[submodule "external/FQFeeder"]
	path = external/FQFeeder
	url = https://github.com/rob-p/FQFeeder.git
[submodule "external/ggcat"]
	path = external/ggcat
	url = https://github.com/algbio/ggcat
[submodule "external/unordered_dense"]
	path = external/unordered_dense
	url = https://github.com/martinus/unordered_dense.git
